* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Cabin Regular';
    background-image: url(img/test1.png);
    background-size: 90%;
}
h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 90px;
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
}
#navo {
    text-align: center;
    margin-top: 25px;
    color: whitesmoke;
}
a {
    color: whitesmoke;
    padding: 25px;
    font-size: 20px;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #000000;
}
a:hover {
    color: cyan;
}
#socio {
    float: right;
    margin-right: 200px;
    margin-top: -50px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
}
p {
    color: whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.footy {
    margin-left: 850px;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-bottom: 75px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}
.inhoud {
    text-align: center;
    background-color: rgba(69, 36, 216, 0.432);
    width: 35%;
    float: left;
    padding: 50px;
    margin-left: 120px;
    border-style: ridge;
    margin-top: 15px;
}
h2 {
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}